[submodule "lib/vst3sdk"]
	path = lib/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "lib/KDMacTouchBar"]
	path = lib/KDMacTouchBar
	url = https://github.com/KDAB/KDMacTouchBar.git
[submodule "lib/HorizonEngine"]
	path = lib/HorizonEngine
	url = https://github.com/tom-23/HorizonEngine.git
